<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.counselapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/imfine_white"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".expInfo.WriteExpertProfileActivity">
        </activity>
        <activity android:name=".base.BaseActivity">
        </activity>
        <activity android:name=".counselList.ChatRoomActivity">
        </activity>
        <activity android:name=".counselList.CallListActivity">
        </activity>
        <activity android:name=".counselList.CounselDetailActivity">
        </activity>
        <activity android:name=".myPage.MyPageEditActivity">
        </activity>
        <activity android:name=".counselList.CounselManagingActivity">
        </activity>
        <activity android:name=".myPage.MyPageExpActivity">
        </activity>
        <activity android:name=".SignInActivity">
        </activity>
        <activity android:name=".post.WritePostActivity">
        </activity>
        <activity android:name=".MainBoardActivity">
        </activity>
        <activity android:name=".LogInActivity">
        </activity>
        <activity android:name=".expInfo.ProfileExpertActivity">
        </activity>
        <activity android:name=".SearchExpertActivity">
        </activity>
        <activity android:name=".post.CheckPostActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>